body {
    display: flex;
    background-image: url(https://www.godwallpaper.in/downloading.aspx?pcod=WP0001581&size=1920x1080);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 98vh;
}
P {
    flex-basis: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F1F0E9;
    color: #0D4715;
}
.container {
    background-color: green;
    width: 40%;

    display:flex;
    flex-direction: column;

    border-radius: 10px;
}

.container > * {
    margin: 10px 40px;
}

h1 {
    font-weight: 800;
    color: #fff;
}

button {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    button{
        width: 85%;
    }

    .container > * {
        margin: 10px 5px 10px 5px;
        box-sizing: border-box;
    }
}
